@media screen and (max-width: 576px) {
    .navbar, .navbar > ul{
        flex-direction: column;
    }
    .feature-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .feature-description{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar{
        flex-direction: column;

    }
}